@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 0.589)
  );
  box-shadow: 8px 5px 13px -1px rgba(28, 29, 35, 0.3);
  height: 9vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 10px;
}

header h5 {
  margin: 0;
}

/* search field */
.form-container {
  width: 80%;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

#form .input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1.2px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 5px -1px rgba(28, 29, 35, 0.144);
  z-index: 10;
  border-radius: 50px;
  padding-left: 10px;
  color: black;
}

div.input-field {
  background-color: rgba(143, 143, 143, 0.199);
}

div.input-field:hover {
  background-color: rgba(255, 255, 255, 0.89);
}

div.input-field .material-icons {
  color: black;
}

#searchInput {
  width: 70vw;
  border-bottom: none;
  background-color: transparent;
  margin: 0;
}

.icons {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
  column-gap: 5%;
}

/* current weather */
.currentInfo {
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 8px 5px 13px -1px rgba(28, 29, 35, 0.3);
  background-color: rgba(248, 248, 248, 0.342);
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 0.4)
  );
}

.current-time {
  margin-left: 15px;
  font-size: 0.9rem;
}

.currentInfo div {
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: left;
}

.currentInfoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentInfoCard .temp {
  margin: 0;
  font-size: 2.3em;
}

.current-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.current-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #233469;
}

.location_on {
  margin-right: 7px;
}

.current-image {
  margin: -10px;
  width: 130px;
}

.current-info1 .description {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
}

.current-info2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 15px;
  font-size: 0.9rem;
  color: rgba(28, 29, 35, 0.788);
}

.current-info2-title {
  font-weight: 700;
}

.current-info2 .current-info2-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current {
  color: rgb(24, 1, 7);
}

#current:hover,
#current:focus {
  color: #ff0202cb;
}

/* hourly, daily weather */
#hourly,
#daily {
  border-radius: 15px;
  width: 10em;
  height: 2em;
  border-style: none;
  color: white;
}

#hourly {
  background-color: #009e96ce;
}

#daily {
  background-color: #666464ce;
}

.hourlyInfo,
.dailyInfo {
  border-radius: 20px;
  background-color: rgba(248, 248, 248, 0.342);
  padding: 8px;
  box-shadow: 8px 5px 13px -1px rgba(50, 51, 51, 0.148);
  margin-bottom: 10px;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 0.4)
  );
}

.hourlyForecast,
.dailyForecast {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0.8rem;
}

.hourlyInfoCard,
.dailyInfoCard {
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid rgba(13, 13, 13, 0.216);
}

.hourlyInfoCard:last-child,
.dailyInfoCard:last-child {
  border: none;
}

.hourlyInfoCards,
.dailyInfoCards {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.info-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherIcon {
  width: 100%;
  margin: -5px 0;
}

.info-title,
.info-text {
  font-size: 0.8rem;
  margin: 0;
}

/* extra class */
.hidden {
  display: none;
}

/* media query */
@media only screen and (max-width: 400px) {
  .icons {
    margin: -10px 0 10px 0;
  }
  div.current-main {
    margin: -1rem 0 -1.5rem 0;
  }

  /* current */
  .current-title {
    margin: 10px 5px 5px 5px;
  }
  .currentInfoCard .temp {
    font-size: 1.8rem;
  }
  .current-info1 .description {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .current-info2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1rem;
    color: rgba(28, 29, 35, 0.788);
  }
}
